rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Only authenticated users can read/write storage
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
